/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#backgroundVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.8;
    z-index: 9988;
    transition: opacity 1s ease-out;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

#prompt-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 
        -1px -1px 0px black,  
        1px -1px 0px black,
        -1px 1px 0px black,
        1px 1px 0px black;
}

#big-square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    position: relative;
    border-radius: 10px;
}

.small-square {
    border: 1px dashed #ccc;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    font-size: 100px;
}

#options {
    margin-top: 100px;
    display: flex;
}

.option {
    margin: 10px;
    padding: 0px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightblue;
    width: 150px;
    height: 150px;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-img {
    width :150px; 
    height: 150px;
    border-radius: 10px;
}

.option:active {
    cursor: grabbing;
}

#blue {
    font-size: 100px;
    background-color: white;
    color: white;
}

#green {
    font-size: 100px;
    background-color: white;
    color: white;
}

#red {
    display: none;
    font-size: 100px;
    background-color: white;
    color: white;
}

#yellow {
    display: none;
    font-size: 100px;
    background-color: white;
    color: white;
}

#purple {
    display: none;
    font-size: 100px;
    background-color: white;
    color: white;
}

#brown {
    display: none;
    font-size: 100px;
    background-color: white;
    color: white;
}

#pink {
    display: none;
    font-size: 100px;
    background-color: white;
    color: white;
}

#cyan {
    display: none;
    font-size: 100px;
    background-color: white;
    color: white;
}